:root {
    --background-primary: #111111;
    --background-secondary: #240bb0;
    --font-color-primary: #e7e7e7;
    --font-color-secondary: #e7e7e7;
    --button-color-primary: #094e03;
}

[data-theme="light-theme"] {
    --background-primary: #e7e7e7;
    --background-secondary: #ababab;
    --font-color-primary: #d9d7d7;
    --font-color-secondary: #e7e7e7;
    --button-color-primary: #01ba33;
}
body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    background-color: var(--background-primary);
}
.change-theme {
    /* position: fixed;
    top: 0;
    left: 0; */

    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--font-color-primary);
}

 .light{
    display: block;
 }



.hidden {
    display: none;
} 

@media screen and (min-width: 320px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
 
.header{
    width: 100%;
    height: 100px;
    background-color: var(--background-secondary);
  
}
  
.header_titulo{
    font-size: 30px;
    margin-left: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}
  
.header_button{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    
}
  
.header__boton{
    border:transparent;
    background-color: transparent;
    font-size: 1rem;
}

.main{
    width: 100%;
    height: 400px;
    background-color:var(--background-primary);
    padding: 30px;
    display: block;
    justify-content: center;
    text-align: center;
    
}
  
.main_textos{
    display: block;
    justify-content: center;
    text-align: center;
   
 
}

.mainTopText{
    background-color: var(--background-secondary);
}

.mainBottomText{
    background-color:var(--background-secondary);
}

.mainImagen{
    background-color: black;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
  
.main_button{
    background-color:var(--button-color-primary);
    margin-top: 10px;
    color: var(--font-color-secondary);
    padding: 10px;
  
}
  
}



.asideImagen{
 background-color: var(--background-secondary);
 width: 100%;
 height: 600px;
 display: none;
 position: absolute;
 z-index: 1;
 overflow: auto;
 top: 0;
 right: 0;
 
}


.asideTexto{
    background-color: var(--background-secondary);
    width: 100%;
    height: 600px;
    display: none;
    position: absolute;
    z-index: 1;
    overflow: auto;
    top: 0;
    right: 0;
    
   }
   .buttonClosePanelImage{
    position: absolute;
    right: 8px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

.buttonClosePanelText{
    position: absolute;
    right: 8px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}


   @media screen and (min-width: 768px) {

    .asideImagen{
        background-color:  var(--background-secondary);
        width: 30%;
        height: 600px;
        display: none;
        position: absolute;
        z-index: 1;
        overflow: auto;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 15px;
        
       }
       
       
       .asideTexto{
        background-color: var(--background-secondary);
        width: 30%;
        height: 600px;
        display: none;
        position: absolute;
        z-index: 1;
        overflow: auto;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 15px;
        
       }
    
   }



   @media screen and (min-width: 1440px) {
    .buttonClosePanelImage{
        display: none;
    }

    .buttonClosePanelText{
        display: none;
    }

   }
